name: same

on:
  schedule:
    - cron: "*/5 * * * *"   # every 5 minutes (UTC)
  workflow_dispatch:

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Print numbers
        run: |
          echo "1"
          echo "2"
          echo "3"
          echo "4"
          
